<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="|${book.title} - Bookeeper|">Book Details - Bookeeper</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/base.css"/>
</head>
<body>
    <div class="book-container container col-md-5">
        <div th:insert="navbar :: navbar"></div>
        <div class="book-info-container container border rounded">

            <div class="row">
                <div class="col-9">
                    <b th:text="${ book.title }">BOOK TITLE</b>
                </div>
                <div class="col-1">
                    <a class="text-decoration-none" href="book_edit.html" th:href="@{/books/edit(id=${ book.id })}">edit</a>
                </div>
                <div class="col-1">
                    <a class="text-decoration-none" href="books.html" th:href="@{/books/delete(id=${ book.id })}">delete</a>
                </div>
            </div>
            <div class="row">
                <a class="text-secondary text-decoration-none" th:href="@{/authors/{id}(id=${ book.authorId })}" th:text="${ book.authorName }">
                    AUTHOR NAME
                </a>
            </div>
            <div class="row">
                <br/>
            </div>
            <div class="row">
                <small class="text-primary" th:text="|[${ book.genreTitle }]|">[GENRE]</small>
                <br/>
            </div>
        </div>
        <hr/>
        <div class="comments-container">
            <div class="comments-header">
                <h4 th:if="${ comments.isEmpty() }">There's no comments yet</h4>
                <h4 th:if="${ !comments.isEmpty() }">Comments:</h4>
            </div>
            <div class="comment-list">
                <ul class="list-group">
                    <li class="list-group-item" th:each="comment : ${ comments }">
                        <div class="row g-2">
                            <span style="display:inline" th:text="|${ comment.commenter }|">COMMENTOR leaved a comment</span>
                            <span class="text-secondary" style="display:inline">leaved a comment:</span>
                        </div>
                        <br/>
                        <div class="row">
                            <p class="comment-text" th:text="${ comment.text }">COMMENT TEXT</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <br/>
        <div>
            <div th:insert="comment_form :: comment-form(bookId=${ book.id })"></div>
        </div>
    </div>
</body>
</html>
