<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book Collection</title>
</head>
<body>
    <h1>Book Collection</h1>
    <a href="book_new.html" th:href="@{/books/new}">new</a>
    <hr/>
    <div th:each="book : ${ books }">
        <a class="book-title" th:text="${ book.title }" th:href="@{/books/{id}(id=${ book.id })}">BOOK TITLE</a>
        <a th:if="${ book.authorId != null }" class="book-author" href="author.html" th:href="@{/authors/{id}(id=${ book.authorId })}"
           th:text="${ book.authorName }">AUTHOR</a>
        <br/>
        <span th:if="${ book.genreTitle != null }" th:text="${ book.genreTitle }">[GENRE]</span>
        <hr/>
    </div>
</body>
</html>
