<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="|Edit ${book.title}|"></title>
</head>
<body>
<form id="edit-form" th:action="@{/books/{id}(id=${book.id})}" method="post" action="edit.html">
    <div class="row">
        <label for="id-input">ID:</label>
        <input id="id-input" type="text" readonly="readonly" th:value="${ book.id }" value="12345"/>
    </div>

    <div class="row">
        <label for="title-input">Title:</label>
        <input id="title-input" name="title" type="text" th:value="${ book.title }" value="BOOK TITLE"/>
    </div>

    <div class="row">
        <label for="author-input">Author:</label>
        <select id="author-input" name="authorId" th:value="${ book.authorId }">
            <option th:each="author : ${ authors }" th:text="${ author.name }" th:value="${ author.id }" th:selected="${ author.id == book.authorId}"></option>
        </select>
    </div>

    <div class="row">
        <label for="genre-input">Genre:</label>
        <input id="genre-input" name="genreTitle" type="text" th:value="${ book.genreTitle }" value="GENRE TITLE"/>
    </div>

    <div class="row">
        <button type="submit">Save</button>
    </div>
</form>
</body>
</html>
