<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Navbar</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"/></head>
<body>
    <div class="navbar" th:fragment="navbar">
        <div class="navbar-content">
            <a class="text-decoration-none" href="books.html" th:href="@{/books/}">Books</a>
            <a class="text-decoration-none" href="authors.html" th:href="@{/authors/}">Authors</a>
            <a class="text-decoration-none" href="genres.html" th:href="@{/genres/}">Genres</a>
        </div>
    </div>
</body>
</html>
