<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="quiz" class="com.etn319.quiz.ConsoleQuiz">
        <constructor-arg name="source" ref="questionSource"/>
    </bean>
    <bean id="questionSource" class="com.etn319.service.QuestionFileSource">
        <constructor-arg name="converter" ref="questionConverter"/>
        <constructor-arg name="resourceFilePath" value="questions.csv"/>
    </bean>
    <bean id="questionConverter" class="com.etn319.service.QuestionCsvConverter">
        <constructor-arg name="delim" value=";"/>
    </bean>
</beans>